extends layout

block content
    div.body
        h3 What is this?
        p This is just a minimalistic website for sharing quotes with friends. I was on Reddit, and someone had linked to a picture with a quote on it. There was a comment saying how instead of using images to share quotes, we should just have a website through which we can share quotes. This is how Kwoter was born.

        h3 Where can I find the source code? How can I contribute?
        p I put this project up on github. You can contribute by trying to add any feature you might like, or fixing any bugs.
        a(href='https://github.com/cesarandreu/kwoter') Link to github.