doctype 5
html
  head
    title Kwoter
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel="stylesheet", href="/css/bootstro.min.css")
    block styles
    script(src="/js/jquery-2.0.2.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/bootstro.min.js")
    block scripts
  body
    div.container
        div.header
            div.masthead
                ul.nav.nav-pills.pull-right
                    - if (nav === 'home')
                        li.active
                            a(href='/') Home
                    - else
                        li
                            a(href='/') Home
                                    
                    - if (nav === 'about')
                        li.active
                            a(href='/about') About
                    - else
                        li
                            a(href="/about") About
            h1 Kwoter 
                small.muted Share quotes with your friends
                block header
        hr
        block content