doctype 5
html
  head
    title Kwoter
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    div.container
        div.header
            div.masthead
                ul.nav.nav-pills.pull-right
                    li
                        a(href='/') Home
                    li
                        a(href='/about') About
                    li
                        a(href='/contact') Contact
            h1 Kwoter

        hr
        block content