doctype 5
html
  head
    title Kwoter
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    div.container
        div.header
            div.masthead
                ul.nav.nav-pills.pull-right
                    - if (nav === 'home')
                        li.active
                            a(href='/') Home
                    - else
                        li
                            a(href='/') Home
                                    
                    - if (nav === 'about')
                        li.active
                            a(href='/about') About
                    - else
                        li
                            a(href="/about") About
            h1 Kwoter 
                small.muted Share quotes with your friends

        hr
        block content